
body {
  font-family: Arial, sans-serif;
  margin: 2em;
  background: #fff;
  color: #333;
}
a { color: #1e90ff; }
header, footer {
  background: #484D53;
  color: white;
  padding: 1em;
  text-align: center;
}
